<div class="row text-center pt-4">
    <ul class="list-inline ">
        <li class="list-inline-item me-3">
            <a routerLink='/entrar' id="links-home">
                <p>HOME</p>
            </a>
        </li>
        <li class="list-inline-item ms-3 me-3">
            <a routerLink='/sobre-nos' id="links-home">
                <p>SOBRE NÓS</p>
            </a>
        </li>
        <li class="list-inline-item ms-3">
            <a routerLink='/contato' id="links-home">
                <p>CONTATO</p>
            </a>
        </li>
    </ul>
</div>
