#bg-home{
    background-color: #DCEEEB;
    height: 87vh;
}

#links-home{
    font-size: 18pt;
    color: #651A80;
    font-weight: bold;
}

#links-home:hover{
    color: #4b0564;
    font-weight: bold;
}

.bg-input-contato{
    background-color: #dcdce2;
}

.input-assunto{
    height: 10vh;
}

#bg-contato{
    background-image: url("../../assets/img/image3.png");
    height: 10vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}