a{
    cursor: pointer;
}

.color-bar{
    background-color: #B1C6E7;
}

.btn-menu:hover{
    color: #92c2ee;
    background-color: #651a72;
}

.btn-menu{
    font: bold;
    color: #651A80;
    background-color: transparent;
    border: transparent;
    font-weight: bold;
}

.nome-hospital{
    font-weight: bold;
    color: #651A80;
    font-size: 20pt;
}

