
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand m-0 d-flex justify-content-center align-content-center"routerLink='/inicio' >
      <img src="../../assets/img/SCEH.png" class="img-fluid" alt="logo SCEH" width="200px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-2" id="navbarText">
      <div class="dropdown">
        <button class="btn btn-menu dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          OPÇÕES
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" routerLink='/solicitacao'>Solicitação</a></li>
        </ul>
      </div>
      
      <ul class="navbar-nav m-auto d-flex align-items-center justify-content-center">
        <li class="nav-item">
          <p class="m-0 nome-hospital">{{nomeHospital}}</p>
        </li>
      </ul>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <button (click)='sair()' type="button" class="btn btn-menu me-3" >
            SAIR
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>