a{
    cursor: pointer;
}

.color-bar{
    background-color: #B1C6E7;
}

.btn-menu{
    border-color: #8F05D0;
    background-color: white;
    color: #8F05D0;
}

.btn-menu:hover{
    border-color: #8F05D0;
    background-color: #8F05D0;
    color: #ffffff;
}

.nome-hospital{
    font-weight: bold;
    color: #a524b6;
    font-size: 20pt;
}

.text-color{
    color: #a524b6;
}

