<nav class="navbar navbar-expand-lg navbar-light color-bar">
  <div class="container-fluid">
    <a class="navbar-brand m-0 d-flex justify-content-center align-content-center">
      <img src="../../assets/img/SCEH.png" class="img-fluid" alt="logo SCEH" width="200px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav m-auto d-flex align-items-center">
        <li class="nav-item">
          <p class="m-0 nome-hospital">Nome do Hospital</p>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item">
          <button type="button" class="btn btn-secondary btn-menu btn-home-menu">HOME</button>
        </li>
        <span style="margin: 2%;"></span>
        <li class="nav-item">
          <button type="button" class="btn btn-secondary btn-menu btn-sair-menu">SAIR</button>
        </li>
      </ul>
    </div>
  </div>
</nav>