<app-menu></app-menu>
<div class="container-fluid" id="bg-home">

    <div class="row text-center pt-4">
        <div class="col-md-4">
            <a href="#" id="links-home">
                <p>HOME</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="#" id="links-home">
                <p>SOBRE NÓS</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="#" id="links-home">
                <p>CONTATO</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 " id="img-bg-left">            
        </div>
        <div class="col-md-6" id="img-bg">
        </div>
    </div>
</div>
<app-rodape></app-rodape>