<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6  bem-vindo">
            BEM-VINDO(A)!
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6  logo">
            <img src="../../assets/img/logo-sceh.png" alt="">
        </div>
        <div class="col-md-3"></div>
    </div>
    <!-- <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 bem-vindo">
                LOGAR
        </div>
        <div class="col-md-3"></div>
    </div> -->

    <form class="formulario">
        <div class="row mb-3">
          <label for="usuario" class="col-sm-2 col-form-label">Usuário</label>
          <div class="col-sm-10">
            <input [(ngModel)]='funcionarioLogin.username' class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite seu usuario">
          </div>
        </div>
        <div class="row mb-3">
          <label for="usuario" class="col-sm-2 col-form-label">Senha</label>
          <div class="col-sm-10">
            <input [(ngModel)]='funcionarioLogin.senha' class="form-control" type="password" name="usuario" id="usuario" placeholder="Digite sua senha">
          </div>
        </div>
            
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-outline-danger">CANCELAR</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-outline-warning">LIMPAR</button>
            </div>
            <div class="col-md-4">
                <button (click)='entrar()' type="button" class="btn btn-outline-success" id="cadastrar-hospital">LOGAR</button>
            </div>
        </div>
      </form>
</div>