

#sceh-home{
    color: blueviolet;
    font-weight: bold;
}

.btn-menu{
    border-color: #8F05D0;
    background-color: white;
    color: #8F05D0;
}

.btn-menu:hover{
    border-color: #8F05D0;
    background-color: #8F05D0;
    color: #ffffff;
}


.btn-entrar{
    border-color: #8F05D0;
    background-color: white;
    color: #8F05D0;
}

.btn-entrar:hover{
    border-color: #8F05D0;
    background-color: #8F05D0;
    color: #ffffff;
}