<nav class="navbar navbar-light " id="nav-color">
    <div class="container-fluid">
      <a class="navbar-brand m-0 d-flex justify-content-center align-content-center" routerLink='/entrar'>
        <img src="../../assets/img/SCEH.png" class="img-fluid" alt="logo SCEH" width="200px">
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <button type="button" class="btn btn-menu me-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Logar
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Tela de login</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="form-group mt-1">
                    <label for="usuario" class="mb-2">Usuario</label>
                    <input [(ngModel)]='funcionarioLogin.username' minlength="5" maxlength="10" class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite seu usuario">

                  </div>
                  <div class="form-group mt-3">
                    <label for="usuario" class="mb-2">Senha</label>
                    <input [(ngModel)]='funcionarioLogin.senha' minlength="5" maxlength="20" class="form-control" type="password" name="usuario" id="usuario" placeholder="Digite sua senha">

                  </div>
                </div>
                <div class="modal-footer">
                  <button (click)='entrar()'type="button"  data-bs-dismiss="modal" class="btn btn-entrar m-auto" id="cadastrar-hospital">Logar</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>