<app-menu-home></app-menu-home>
<div class="container-fluid" id="bg-home">
    <div class="row text-center pt-4">
        <div class="col-md-4">
            <a routerLink='/entrar' id="links-home">
                <p>HOME</p>
            </a>
        </div>
        <div class="col-md-4">
            <a routerLink='/sobre-nos' id="links-home">
                <p>SOBRE NÓS</p>
            </a>
        </div>
        <div class="col-md-4">
            <a routerLink='/contato' id="links-home">
                <p>CONTATO</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center align-content-center mt-2">
            <div class="card text-dark bg-light mb-3" style="max-width: 48rem;">
                <div class="card-header text-center">Sobre Nós</div>
                <div class="card-body">
                    <p class="card-text text-sobre-nos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer neque lacus,
                        ultrices vel orci et, hendrerit lobortis mauris. Donec laoreet, metus in porttitor aliquam,
                        mauris nisi scelerisque eros, sit amet interdum quam lorem in nibh. Nullam faucibus pulvinar
                        dapibus. Pellentesque accumsan sapien erat, sit amet consectetur est tincidunt sed. In dictum ac
                        quam posuere mattis. Aliquam suscipit lacus et velit ullamcorper, semper suscipit lorem
                        lobortis. Aliquam ultricies congue nisl sit amet fringilla. Interdum et malesuada fames ac ante
                        ipsum primis in faucibus. Aliquam ac ex vel dui pharetra mollis. Fusce convallis scelerisque
                        eros, et rhoncus leo vehicula ut. Maecenas iaculis ornare volutpat. Praesent in mi tortor.
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        Donec imperdiet pretium neque ac lacinia.

                        Phasellus in vestibulum magna. Pellentesque non fringilla libero, luctus interdum augue. Ut
                        blandit at erat ac lobortis. Pellentesque vulputate elit mi. Aenean tempus sit amet dolor ut
                        maximus. Suspendisse potenti. Morbi est enim, vehicula sed felis id, vulputate dapibus purus.
                        Cras massa velit, consequat et enim a, scelerisque accumsan sem. Praesent lobortis tellus a leo
                        dignissim, vitae iaculis enim porttitor. Nulla porta sit amet lacus eu venenatis. Suspendisse
                        non posuere ante, in feugiat arcu. Morbi hendrerit dui vel tincidunt interdum. Curabitur porta
                        interdum semper.

                        Maecenas bibendum porttitor ipsum, sit amet laoreet mauris blandit feugiat. Class aptent taciti
                        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis varius tincidunt
                        est, in placerat elit rhoncus facilisis. Curabitur in massa fringilla, tristique nulla ut,
                        dignissim odio. Fusce eget turpis sit amet ex blandit rutrum. Phasellus et ipsum a arcu rhoncus
                        pellentesque. Proin sodales ex sed leo convallis lacinia. In lorem mauris, sollicitudin et
                        lobortis quis, tristique vitae est. Suspendisse gravida urna vitae diam auctor, nec euismod
                        felis mattis. Nam vel quam vel erat rhoncus egestas. Pellentesque quis rhoncus ex, sit amet
                        consequat justo. Fusce pellentesque, ex sagittis fermentum imperdiet, augue purus finibus
                        lectus, sed iaculis felis ex sit amet lectus. Aenean et nibh varius, auctor ipsum vitae, cursus
                        massa. Proin a orci vehicula, faucibus ligula sit amet, finibus nibh. Vivamus luctus eget neque
                        elementum laoreet. Sed ac est posuere, placerat urna et, imperdiet eros.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-rodape></app-rodape>