.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}

.btn-menu{
    border-color: #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-weight: bold;
}

.btn-menu:hover{
    border-color: #9318b9;
    background-color: #9318b9;
    color: #ffffff;
    font-weight: bold;
}

.font-bold{
    font-weight: bold;
}

.div-hospital{
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
}

.div-usuario{
    text-align: center;
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.titulos-usuario{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}
