<div class="container-fluid ">

    <div class="row bg-custom d-flex align-items-center">
        <div class="col-md-6 text-white">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6 mt-5">
                    <h1 class="fs-54">Seja Bem-Vindo(a)!</h1>
                    <h4 class="fs-18">{{nome}}</h4>
                </div>
                <div class="row d-flex justify-content-center mt-3">
                    <div class="col-md-6">
                        <button *ngIf='usuarioComPermissao()' type="button" class="btn btn-menu me-2"
                            data-bs-toggle="modal" data-bs-target="#novoRecurso">
                            Cadastrar Recurso
                        </button>
                        <button *ngIf='usuarioComPermissao()' type="button" class="btn btn-menu me-2"
                            data-bs-toggle="modal" data-bs-target="#novoSolicitacao">
                            Cadastrar Solicitação
                        </button>
                        <a class="btn btn-menu mt-3" href="#verRecursos">Ver Recursos</a>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-6 d-sm-flex align-items-center justify-content-center">
            <img src="../../assets/img/Medicine-rafiki.png" alt="imagem" class="img-fluid  d-sm-block w-50">
        </div>
    </div>
</div>

<div class="container mt-5 mb-lg-5" id="verRecursos">

    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

            <button (click)='buscarTodosRecursos()' class="nav-link active" id="nav-todosRecursos-tab"
                data-bs-toggle="tab" data-bs-target="#nav-todosRecursos" type="button" role="tab"
                aria-controls="nav-todosRecursos" aria-selected="true">Recursos</button>

            <button (click)='buscarTodosRecursosDoHospital()' class="nav-link" id="nav-recursoHospital-tab"
                data-bs-toggle="tab" data-bs-target="#nav-recursoHospital" type="button" role="tab"
                aria-controls="nav-recursoHospital" aria-selected="false">Recursos do Hospital</button>

            <button (click)='buscarTodasSolicitacaoDoHospital()' class="nav-link" id="nav-solicitacao-tab"
                data-bs-toggle="tab" data-bs-target="#nav-solicitacao" type="button" role="tab"
                aria-controls="nav-solicitacao" aria-selected="false">Solicitações do Hospital</button>

            <button (click)='buscarTodasReservasHospital()' class="nav-link" id="nav-reservas-tab" data-bs-toggle="tab"
                data-bs-target="#nav-reservas" type="button" role="tab" aria-controls="nav-reservas"
                aria-selected="false">Reservas do Hospital</button>
        </div>
    </nav>
    <div class="row">
        <div class="tab-content mb-lg-5 h-100" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-todosRecursos" role="tabpanel"
                aria-labelledby="nav-todosRecursos-tab">
                <div class="row row-cols-1 row-cols-md-3 g-4 mt-3 mb-5">
                    <div class="col mb-3" *ngFor='let recurso of listaRecurso' style="width: 18rem;">
                        <div class="card border-primary mb-3" style="max-width: 18rem;">
                            <div class="card-header text-center">
                                <h5>{{recurso.nome}}</h5>
                            </div>
                            <div class="card-body text-primary">
                                <ul class="list-inline">
                                    <li class="list-inline-item font-bold"><label>Quantidade:</label></li>
                                    <li class="list-inline-item ">
                                        <p class="card-text"> {{recurso.quantidade}}</p>
                                    </li>
                                </ul>
                                <ul class="list-inline">
                                    <li class="list-inline-item font-bold"><label>Marca:</label></li>
                                    <li class="list-inline-item">
                                        <p class="card-text"> {{recurso.marca}}</p>
                                    </li>
                                </ul>
                                <ul class="list-inline">
                                    <li class="list-inline-item font-bold"><label>Fabricante:</label></li>
                                    <li class="list-inline-item">
                                        <p class="card-text"> {{recurso.fabricante}}</p>
                                    </li>
                                </ul>
                                <ul class="list-inline">
                                    <li class="list-inline-item font-bold "><label>Fabricação:</label></li>
                                    <li class="list-inline-item">
                                        <p class="card-text"> {{recurso.dataFabricacao}}</p>
                                    </li>
                                </ul>
                                <ul class="list-inline">
                                    <li class="list-inline-item font-bold"><label>Validade:</label></li>
                                    <li class="list-inline-item">
                                        <p class="card-text"> {{recurso.dataValidade}}</p>
                                    </li>
                                </ul>
                                <ul class="list-inline">
                                    <li class="list-inline-item font-bold"><label>Descrição:</label></li>
                                    <li class="list-inline-item">
                                        <p class="card-text text-wrap"> {{recurso.descricao}}</p>
                                    </li>
                                </ul>
                                <ul class="list-inline">
                                    <li class="list-inline-item font-bold"><label>Hospital:</label></li>
                                    <li class="list-inline-item">
                                        <p class="card-text text-wrap"> {{recurso.hospital.razaoSocial}}</p>
                                    </li>
                                </ul>
                            </div>
                            <div *ngIf='usuarioComPermissao()' class="card-footer d-flex justify-content-center">
                                <button type="button" class="btn btn-success me-2"
                                    [routerLink]="['/reserva', recurso.codigoRecurso]">
                                    Reservar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="tab-pane fade mt-3 mb-5" id="nav-recursoHospital" role="tabpanel"
                aria-labelledby="nav-recursoHospital-tab">
    
                <table class="table table-light table-hover mt-3 ">
                    <thead>
                        <tr class="table-custom-header text-center">
                            <th scope="col">Nome</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Fabricante</th>
                            <th scope="col">Data Fabricação</th>
                            <th scope="col">Data Validade</th>
                            <th scope="col">Lote</th>
                            <th scope="col">Descrição</th>
                            <th *ngIf='usuarioComPermissao()' scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let recurso of listaRecursoDoHospital' class="text-center">
                            <td>{{recurso.nome}}</td>
                            <td>{{recurso.quantidade}}</td>
                            <td>{{recurso.marca}}</td>
                            <td>{{recurso.fabricante}}</td>
                            <td>{{recurso.dataFabricacao}}</td>
                            <td>{{recurso.dataValidade}}</td>
                            <td>{{recurso.lote}}</td>
                            <td>{{recurso.descricao}}</td>
                            <td *ngIf='usuarioComPermissao()' class="d-flex justify-content-center">
                                <button type="button" class="btn btn-danger me-2 "
                                    [routerLink]="['/recurso-delete', recurso.codigoRecurso]">
                                    Deletar
                                </button>
                                <button type="button" class="btn btn-info"
                                    [routerLink]="['/recurso-edit', recurso.codigoRecurso]">
                                    Editar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
    
            </div>
    
            <div class="tab-pane fade mt-3 mb-5" id="nav-solicitacao" role="tabpanel" aria-labelledby="nav-solicitacao-tab">
    
                <table class="table table-light table-hover mt-3 ">
                    <thead>
                        <tr class="table-custom-header text-center">
                            <th scope="col">Nome</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Marca</th>
                            <th scope="col">fabricante</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Urgência</th>
                            <th scope="col">Solicitante</th>
                            <th scope="col">Observação</th>
                            <th *ngIf='usuarioComPermissao()' scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let solicitacao of listaSolicitacao' class="text-center">
                            <td>{{solicitacao.nome}}</td>
                            <td>{{solicitacao.quantidade}}</td>
                            <td>{{solicitacao.marca}}</td>
                            <td>{{solicitacao.fabricante}}</td>
                            <td>{{solicitacao.descricao}}</td>
                            <td>{{solicitacao.urgencia}}</td>
                            <td>{{solicitacao.funcionario.nome}}</td>
                            <td>{{solicitacao.observacao}}</td>
                            <td *ngIf='usuarioComPermissao()' class="d-flex justify-content-center">
                                <button type="button" class="btn btn-danger me-2"
                                    [routerLink]="['/solicitacao-delete', solicitacao.codigoRecurso]">
                                    Deletar
                                </button>
                                <button type="button" class="btn btn-info"
                                    [routerLink]="['/solicitacao-edit', solicitacao.codigoRecurso]">
                                    Editar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
    
            </div>
    
            <div class="tab-pane fade mt-3 mb-5" id="nav-reservas" role="tabpanel" aria-labelledby="nav-reservas-tab">
    
                <table class="table table-light table-hover mt-3 ">
                    <thead>
                        <tr class="table-custom-header text-center">
                            <th scope="col">Codigo Reserva</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Data Reserva</th>
                            <th scope="col">Data Retirada</th>
                            <th scope="col">Entregador</th>
                            <th scope="col">Solicitante</th>
                            <th scope="col">Data Entrega</th>
                            <th scope="col">Nome Recurso</th>
                            <th *ngIf='usuarioComPermissao()' scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let reserva of listaReserva' class="text-center">
                            <td>{{reserva.codigoReserva}}</td>
                            <td>{{reserva.quantidade}}</td>
                            <td>{{reserva.dataReserva}}</td>
                            <td>{{reserva.dataRetirada}}</td>
                            <td>{{reserva.entregador}}</td>
                            <td>{{reserva.solicitante}}</td>
                            <td>{{reserva.dataEntrega}}</td>
                            <td>{{reserva.recursoHospitalar.nome}}</td>
                            <td *ngIf='usuarioComPermissao()' class="d-flex justify-content-center"
                                [routerLink]="['/reserva-edit', reserva.codigoReserva]">
                                <button type="button" class="btn btn-info">
                                    Editar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
    
            </div>
    
        </div>
    </div>
    

    <!-- Modal -->
    <div class="modal fade" id="novoRecurso" tabindex="-1" aria-labelledby="novoRecursoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="novoRecursoLabel">Cadastrar Recurso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mt-1">
                        <label for="usuario" class="mb-2">Nome</label>
                        <input [(ngModel)]='recursoRequest.nome' class="form-control" type="text" name="nomeRecurso"
                            id="nomeRecurso" placeholder="Digite o nome do recurso">
                    </div>
                    <div class="form-group mt-1">
                        <label for="usuario" class="mb-2">Marca</label>
                        <input [(ngModel)]='recursoRequest.marca' class="form-control" type="text" name="marcaRecurso"
                            id="marcaRecurso" placeholder="Digite a marca do recurso">
                    </div>
                    <div class="form-group mt-1">
                        <label for="usuario" class="mb-2">Quantidade</label>
                        <input [(ngModel)]='recursoRequest.quantidade' class="form-control" type="number"
                            name="quantidadeRecurso" id="quantidadeRecurso" placeholder="Informe a quantidade">
                    </div>
                    <div class="form-group mt-1">
                        <label for="usuario" class="mb-2">Fabricante</label>
                        <input [(ngModel)]='recursoRequest.fabricante' class="form-control" type="text"
                            name="fabricante" id="fabricante" placeholder="informe o fabricante">
                    </div>
                    <div class="form-group mt-1">
                        <label for="usuario" class="mb-2">Lote</label>
                        <input [(ngModel)]='recursoRequest.lote' class="form-control" type="text" name="lote" id="lote"
                            placeholder="informe o lote">
                    </div>
                    <div class="form-group mt-1">
                        <label for="usuario" class="mb-2">Descricao</label>
                        <input [(ngModel)]='recursoRequest.descricao' class="form-control" type="text" name="descricao"
                            id="descricao" placeholder="Descrição">
                    </div>
                    <div class="form-group mt-1">
                        <label for="usuario" class="mb-2">Data de Fabricação</label>
                        <input class="form-control" [(ngModel)]='recursoRequest.dataFabricacao' type="date"
                            name="dataFabricacao" id="dataFabricacao">
                    </div>
                    <div class="form-group mt-1">
                        <label for="usuario" class="mb-2">Data de Validade</label>
                        <input [(ngModel)]='recursoRequest.dataValidade' class="form-control" type="date"
                            name="dataValidade" id="dataValidade">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">FECHAR</button>
                    <button type="button" (click)='cadastrarRecurso()' data-bs-dismiss="modal"
                        class="btn btn-primary">CADASTRAR</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="novoSolicitacao" tabindex="-1" aria-labelledby="novoSolicitacaoLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="novoSolicitacaoLabel">Cadastrar Solicitação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <div class="col-md-10 justify-content-center m-auto">
                        <div class="form-group mt-1">
                            <label for="usuario" class="mb-2">Nome</label>
                            <input [(ngModel)]='solicitacaoRequest.nome' class="form-control" type="text"
                                name="nomeRecurso" id="nomeRecurso" placeholder="Digite o nome do recurso">
                        </div>
                        <div class="form-group mt-1">
                            <label for="usuario" class="mb-2">Marca</label>
                            <input [(ngModel)]='solicitacaoRequest.marca' class="form-control" type="text"
                                name="marcaRecurso" id="marcaRecurso" placeholder="Digite a marca do recurso">
                        </div>
                        <div class="form-group mt-1">
                            <label for="usuario" class="mb-2">Quantidade</label>
                            <input [(ngModel)]='solicitacaoRequest.quantidade' class="form-control" type="number"
                                name="quantidadeRecurso" id="quantidadeRecurso" placeholder="Informe a quantidade">
                        </div>
                        <div class="form-group mt-1">
                            <label for="usuario" class="mb-2">Fabricante</label>
                            <input [(ngModel)]='solicitacaoRequest.fabricante' class="form-control" type="text"
                                name="fabricante" id="fabricante" placeholder="informe o fabricante">
                        </div>
                        <div class="form-group mt-1">
                            <label for="usuario" class="mb-2">Descricao</label>
                            <input [(ngModel)]='solicitacaoRequest.descricao' class="form-control" type="text"
                                name="descricao" id="descricao" placeholder="Descrição">
                        </div>
                        <div class="form-group mt-1">
                            <label for="usuario" class="mb-2">Observação</label>
                            <input [(ngModel)]='solicitacaoRequest.observacao' class="form-control" type="text"
                                name="observacao" id="observacao" placeholder="">
                        </div>
                        <div class="form-group mt-3">
                            <label for="usuario" class="mb-2">Solicitação Urgente</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" (click)='urgenteTrue()'>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Sim
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2" checked (click)='urgenteFalse()'>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Não
                                </label>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" (click)='cadastrarSolicitacao()' data-bs-dismiss="modal"
                        class="btn btn-primary">CADASTRAR
                    </button>
                </div>
            </div>
        </div>
    </div>